body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    background-color: rgb(31, 180, 190);
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 6rem;
}
header p {
    color: white;
    font-size: 1.3vw;
}

main {
    padding-top: 40px;
    flex: 1;
}
#conteudo{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: black;
    padding: 2rem 0rem 1.5rem 0rem;
    height: 100%;
    text-align: left;
}
#conteudo h1{
    width: 25%;
}
#conteudo_p  p{
    background-color: rgb(87, 83, 83);
    border-radius: 1rem;
    margin: 2rem;
    padding: 3% 5%;
    height: 50vh;
    font-size: 1.4rem;
}
#nota{
    background-color: rgb(72, 112, 115);
    box-shadow: 0px 0px 15rem rgb(19, 18, 18);
    border: rgb(31, 180, 190) solid;
    height: 3rem;
    padding-bottom: 1px;
    width: 6rem;
    border-radius: 1rem 1rem 0 1rem;
}
#img_conteudo {
    padding: 0.1rem;
    height: auto;
    width: 20rem;
    text-align: center;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgb(31, 180, 190);
}

#img_conteudo:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgb(31, 180, 190);
}

footer {
    color: white;
    background-color: rgb(31, 180, 190);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-bottom: 0;
}

div {
    text-align: center;
    color: white;
}


