*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #000000;     
}

header {
    background-color: #1f1b1b;
    position: fixed;
    width: 100%;
    top: 0;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 2.5rem;
    z-index: 1000;
}
a{
    color: #ffffff;
}
.Divona {
    display: flex;
    align-items: center;
    border-bottom: #000000;
}

#logo {
    margin: 0;
    width: 6rem;
    height: auto;
}
.banner{
    margin-top: 4.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    color: #ffffff;
    justify-content: space-between;
    padding: 0 10%;
    display: flex;
    align-items: center;
}
.banner img{
    width: 25rem;
}
#conteudo_banner{
    gap: 2rem;

}
#acessos{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;    
}
#acessos button{
    background-color:#1f1b1b;
    border: none;
    cursor: pointer;
    border-radius:1rem;
    padding: 8%;
    color: #ffffff;
    width: 100%;

}
#acessos button a{
    color: #ffffff;
    font-size: 1.3rem;
}
#acessos button:hover{
transform: translateY(-0.5rem);
transition: all ease 0.9s;
}
main {
    padding:5rem;
}

.rows {
    padding: 0.5rem 2%;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    width: 100%;
}

.rows::-webkit-scrollbar {
    display: none;
}
.catalogo_filme{
    color: white;
    margin-top: 2rem;
    margin-left: 2%;
}
.filme {
    text-decoration: none;
    color: aliceblue;
    border: 1px solid;
    border-radius: 0.5rem;
}
.filme a{
    gap: 2rem;
    border-radius: 0.5rem;
}

.filme img {
    width: 10vw;
    height: 30vh;
    border-radius: 0.5rem;
}
.links_mais{
    padding: 8%;
}
.filme .mais{
    color: #000000;
    background-color: rgb(50, 13, 236);
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 0.5rem;
}

.filme .ver_filme{
    color: #ffffff;
    background-color: rgb(19, 16, 32);
    width: auto;
    margin-top: 0.2rem;
    height: auto;
    text-align: center;
    border-radius: 0.5rem;
}
footer {
    background-color: #1f1b1b;
    color: white;
    width: 100%;
    align-items: center;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 8vh;
    bottom: 1;
}