body {
    margin: 0;
    padding: 0;
    background-color: rgb(3, 3, 2);
    color: white;
    box-sizing: border-box;
    font-family: 'Arial Black', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #2b2c30;
    height: 15vh;
    z-index: 9999;
    border-radius: 0rem 0rem 1rem 1rem;
}
#links {
margin-right: 3rem;
}
#links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    background-color: #2b2c30;  
    border-radius: 3rem;
}

ul[name="gostos"] {
    grid-area: gostos;
}

ol[name="conheci"] {
    grid-area: conheci;
}

ol[name="vontade"] {
    grid-area: vontade;
}

div[name="resumo"] {
    grid-area: resumo;
}

img[name="pensador"] {
    grid-area: pensador;
}

main {
    padding-top: 12em;
    display: block;
}

#header_main {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    background-position: center center;
    margin: 0 2%;
    justify-content: space-between;
    padding: 0rem 0rem 0rem 2rem;
    background-color:#2b2c30;
}

.caixa {
    padding: 2%;
    background-color: #423f3f;
    border-radius: 1rem;
}

.caixa li {
    margin-top: 1vh;

}

.caixa:hover {
    border: 1px solid;
    box-shadow: 0 0 10px #0099ff, 0 0 2px #0099ff, 0 0 15px #0099ff;
    padding: 2%;

}

#conteudo_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "gostos  gostos"
        "conheci vontade"
        "resumo pensador";
    gap: 2rem;
    padding: 1rem;

}


#titulo_nome {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.titulo {
    font-family: 30rem;
}

#links {
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 8rem;
}

#img_principal {
    width: 30vw;
    height: 100vh;
}

/* #foco {
    color: transparent;
    background: url(/img/David&Irmao.jpg);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: cover;
} */

/* ============== ÁREA DO RGB =========*/
.rgb {
    position: relative;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: flicker 2s infinite alternate;
}

.complemento {
    display: inline-block;
    opacity: 0;
    transform: translateX(-18px);
    transition: opacity 0.4s ease;
}

/* Quando passa o mouse, o complemento aparece suavemente ao lado */
.rgb:hover .complemento {
    opacity: 1;
    transform: translateX(-20px);
}

/*======Cores que irão ficar piscando========*/
#red {
    color: #ff0000;
    text-shadow: 0 0 15px #ff0000, 0 0 30px #ff0000, 0 0 45px #ff0000;
}

#green {
    color: #00ff00;
    text-shadow: 0 0 15px #00ff00, 0 0 30px #00ff00, 0 0 45px #00ff00;
}

#blue {
    color: #0099ff;
    text-shadow: 0 0 15px #0099ff, 0 0 30px #0099ff, 0 0 45px #0099ff;
}

/* ===== EFEITO DE PISCAR========== */
@keyframes flicker {

    0%,
    9%,
    19%,
    23%,
    25%,
    54%,
    57%,
    100% {
        opacity: 1;
        filter: brightness(1.3);
    }

    10%,
    20%,
    24%,
    55% {
        opacity: 0.6;
        filter: brightness(0.6);
    }
}

li {
    list-style: none;
}
.caixa_img{
    box-sizing: border-box;
}
.texto_img{
    position:absolute;
    margin-top: 0rem;
    transform: translate(8%, -250%);
    color: white;
    opacity: 0;
    display: none;   
    font-size: 20px;
    box-shadow: #423f3f;
    background-color: #00ff00;
    box-sizing: border-box;
    width: 10rem;
    text-align: center;
    align-items: center;
}
.fotos:hover .texto_img{
    opacity: 1;
}

.fotos{
    width: 10rem;
    border-radius: 3rem;

}

.fotos:hover{
    filter: drop-shadow(0 0 2px #00FFFF);
    transition: all ease 0.6s;
}

#pensador {
    width: 25vw;
}

#pensador:hover{
    filter: drop-shadow(0 0 10px #00FFFF);
    transition: all ease 0.6s;
}

footer {
    /* display: flex; */
    background-color: rgb(31, 30, 30);
    margin: 0;
    text-align: center;
    align-items: center;
}

#conteudo_footer {

    display: grid;
    /* gap: 10rem; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "";
    gap: 2rem;
    padding: 3rem;
}