body{
    margin: 0;
    padding: 0;
    background-color: black;
    
    /* text-align: center;    */
}
#saida_Pagina{
    padding: 15px;
    height: 25px;
    width: 25px;
}
.divinha{
    margin: 0;
    bottom: 0;
    /* padding: 0px 420px; */
    text-align: center;
}
section{
    text-align: center;
    margin: 0;
    width: 800px;
    height: 200px;
    background-color: blue;
}
.div1{
    display: flex;
    margin: 0;
    padding: 0px 420px;
    width: 700px;
    height: 100px;
}
#sec1{
    
    height:300px;
    
}
p,b{
    color: white;
}
